<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/split">Video Splitter</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/edlcutter">Commercial Cutter</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/help">Help</a>
  </li>
</ul>

