<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

</head>
<body>

<% include ./partials/header %>

<div style="padding: 3em 2em">

<ul>
  <li>
    <a class="nav-link active" href="/">Home</a> -- this page
  </li>
  <li>
    <a class="nav-link" href="/split">Video Splitter</a> -- split a video into two parts
  </li>
  <li>
    <a class="nav-link" href="/edlcutter">EDL Cutter</a> -- loads/edits/saves edl and create a video based on the edl
  </li>
  <li>
    <a class="nav-link" href="/help">Help</a> -- lots of information about the application, history, roadmaps, etc.
  </li>
</ul>


</div>

<% include ./partials/footer %>

</body>
</html>
